<footer>
  <div class="container footer-container">
    <p class="footer-copyright">&copy; {{ currentYear }} POSH &trade; Inc.</p>

    <ul class="footer-socials">
      <li>
        <a href="#" aria-label="Facebook">
          <img src="/images/facebook.svg" width="18" height="18" alt="Facebook" fill="#fff" />
        </a>
      </li>

      <li>
        <a href="#" aria-label="Twitter">
          <img src="/images/twitter.svg" width="18" height="18" alt="Twitter" />
        </a>
      </li>

      <li>
        <a href="#" aria-label="Instagram">
          <img src="/images/instagram.svg" width="18" height="18" alt="Instagram" />
        </a>
      </li>

      <li>
        <a href="#" aria-label="Behance">
          <img src="/images/behance.svg" width="18" height="18" alt="Behance" />
        </a>
      </li>

      <li>
        <a href="#" aria-label="Dribbble">
          <img src="/images/dribbble.svg" width="18" height="18" alt="Dribbble" />
        </a>
      </li>
    </ul>

    <p class="footer-credit">
      Made with <span aria-hidden="true">&#10084;</span> by
      <a href="https://themewagon.com" target="_blank" rel="noopener">ThemeWagon</a>
    </p>
  </div>
</footer>
