<nav>
  <div class="nav-container">
    <a routerLink="/">
      <img src="/images/posh-logo.png" alt="logo" width="89px" height="49px" />
    </a>

    <ul class="nav-links" [class.open]="mobileMenuOpen()">
      @for (item of navItems; track item.label) {
        <li class="nav-item">
          @if (item.children) {
            <span class="nav-label">
              {{ item.label }}
              <iconify-icon icon="codicon:chevron-down" width="14" height="14"></iconify-icon>
            </span>

            <ul class="dropdown-menu">
              @for (child of item.children; track child.label) {
                <li>
                  <a [routerLink]="child.route">{{ child.label }}</a>
                </li>
              }
            </ul>
          } @else {
            <a class="nav-label" [routerLink]="item.route">
              {{ item.label }}
            </a>
          }
        </li>
      }
    </ul>

    <button
      class="mobile-toggle"
      (click)="toggleMobileMenu()"
      [attr.aria-label]="mobileMenuOpen() ? 'Close menu' : 'Open menu'"
    >
      @if (mobileMenuOpen()) {
        <iconify-icon icon="codicon:close" width="24" height="24"></iconify-icon>
      } @else {
        <iconify-icon icon="codicon:menu" width="24" height="24"></iconify-icon>
      }
    </button>
  </div>
</nav>
