<nav>
  <div class="container-custom">
    <img src="/images/posh-logo.png" alt="logo" width="89px" height="49px" />

    <ul>
      <li>
        Homes
        <iconify-icon icon="codicon:chevron-down" width="14" height="14"></iconify-icon>

        <ul class="dropdown-menu">
          <li><a href="#">Conference</a></li>
          <li><a href="#">Digital Agency</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Hospital</a></li>
          <li><a href="#">Hotel</a></li>
          <li><a href="#">Landing NOKIA</a></li>
          <li><a href="#">Landing Software</a></li>
          <li><a href="#">Personal</a></li>
          <li><a href="#">Restaurant</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Travel Agency</a></li>
        </ul>
      </li>

      <li>
        Pages
        <iconify-icon icon="codicon:chevron-down" width="14" height="14"></iconify-icon>

        <ul class="dropdown-menu">
          <li><a href="#">About</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </li>

      <li>
        Components
        <iconify-icon icon="codicon:chevron-down" width="14" height="14"></iconify-icon>

        <ul class="dropdown-menu">
          <li><a href="#">Buttons</a></li>
          <li><a href="#">Cards</a></li>
          <li><a href="#">Forms</a></li>
          <li><a href="#">Navigation</a></li>
        </ul>
      </li>

      <li>
        Docs
        <iconify-icon icon="codicon:chevron-down" width="14" height="14"></iconify-icon>

        <ul class="dropdown-menu">
          <li><a href="#">Getting Started</a></li>
          <li><a href="#">Installation</a></li>
          <li><a href="#">Changelog</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
