<section
  class="container-custom mt-28 flex flex-col items-center justify-center gap-9 px-4 sm:px-6 md:px-0 lg:mx-45"
>
  <p class="text-center text-xs font-medium tracking-[1px]">INTRODUCING POSH</p>

  <div class="w-full text-center">
    <p class="text-[36px] font-extralight leading-tight sm:text-[42px] md:text-[50px]">
      {{ headline() }}
    </p>

    <p
      class="mx-auto mt-2 max-w-3xl text-center text-[18px] font-light leading-relaxed text-[#6A6A6A] sm:text-[20px] md:text-[22px]"
    >
      {{ subtext() }}
    </p>
  </div>

  <div class="flex flex-col gap-2">
    <app-button buttonText="Explore demos" buttonType="primary" (click)="onCtaClick()" />

    <p class="text-sm sm:text-base">
      or
      <a
        href="https://themewagon.com/themes/posh"
        class="text-[#007AFF] no-underline hover:underline"
      >
        Purchase POSH →
      </a>
    </p>
  </div>

  <img src="/images/showcase-01.jpg" alt="posh apps" class="w-full max-w-300 object-contain" />
</section>
