
      <section id="project-section">
        <div id="project-lead-text-container">
          <p id="project-lead-text">
            No matter the task, the new POSH is up to it — and even more. See
            for yourself — all the pre-made demos, inspired by world's finest
            websites, are made with POSH. And this is only a tip of the iceberg
            of what you will get.
          </p>

          <div id="project-lead-text-line"></div>
        </div>

        <div id="projects">
          <div class="project-card-section-container">
            <a href="#" class="project-card">
              <h3>Landing NOKIA</h3>

              <p>(Nokia 5)</p>
              <img
                src="/images/home-landing-nokia.jpg"
                alt="Landing NOKIA preview"
              />
            </a>

            <a href="#" class="project-card">
              <h3>Landing Software</h3>

              <p>(Skype, Dropbox)</p>
              <img
                src="/images/home-landing-software-b5.png"
                alt="Landing Software preview"
              />
            </a>

            <a href="#" class="project-card">
              <h3>Education</h3>

              <p>(American University, Stanford)</p>
              <img src="/images/home-education.jpg" alt="Education preview" />
            </a>

            <a href="#" class="project-card">
              <h3>Restaurant</h3>

              <p>(The Smoke Haus, Yung Kee)</p>
              <img src="/images/home-restaurant.jpg" alt="Restaurant preview" />
            </a>

            <a href="#" class="project-card">
              <h3>Conference</h3>

              <p>(Chain React)</p>
              <img src="/images/home-conference.jpg" alt="Conference preview" />
            </a>
          </div>

          <div class="project-card-section-container">
            <a href="#" class="project-card">
              <h3>Digital Agency</h3>

              <p>(Technext, Green Chameleon)</p>
              <img
                src="/images/home-digital-agency.jpg"
                alt="Digital Agency preview"
              />
            </a>

            <a href="#" class="project-card">
              <h3>Hospital</h3>

              <p>(Northwestern Medicine, Columbus Regional Health)</p>
              <img src="/images/home-hospital.jpg" alt="Hospital preview" />
            </a>

            <a href="#" class="project-card">
              <h3>Careers</h3>

              <p>(Skype, Dropbox)</p>
              <img
                src="/images/page-careers.jpg"
                alt="Landing Software preview"
              />
            </a>

            <a href="#" class="project-card">
              <h3>Shop</h3>

              <p>(Aliexpress, Sammy Dress)</p>
              <img src="/images/home-shop.jpg" alt="Shop preview" />
            </a>

            <a href="#" class="project-card">
              <h3>Digital Agency</h3>

              <p>(Technext, Green Chameleon)</p>
              <img
                src="/images/home-digital-agency.jpg"
                alt="Digital Agency preview"
              />
            </a>

            <a href="#" class="project-card">
              <h3>Education</h3>

              <p>(American University, Stanford)</p>
              <img src="/images/home-education.jpg" alt="Education preview" />
            </a>
          </div>

          <div class="project-card-section-container">
            <a href="#" class="project-card">
              <h3>Travel Agency</h3>

              <p>(ireland.com)</p>
              <img
                src="/images/home-travel-agency.jpg"
                alt="Travel Agency preview"
              />
            </a>

            <a href="#" class="project-card">
              <h3>Conference</h3>

              <p>(Chain React)</p>
              <img src="/images/home-conference.jpg" alt="Conference preview" />
            </a>

            <a href="#" class="project-card">
              <h3>Hotel</h3>

              <p>(The Peninsula, Trump Hotels)</p>
              <img src="/images/home-hotel.jpg" alt="Hotels preview" />
            </a>

            <a href="#" class="project-card">
              <h3>Travel Agency</h3>

              <p>(ireland.com)</p>
              <img
                src="/images/home-travel-agency.jpg"
                alt="Travel Agency preview"
              />
            </a>

            <a href="#" class="project-card">
              <h3>Landing NOKIA</h3>

              <p>(Nokia 5)</p>
              <img
                src="/images/home-landing-nokia.jpg"
                alt="Landing NOKIA preview"
              />
            </a>
          </div>
        </div>
      </section>