<section id="project-section">
  <div id="project-lead-text-container">
    <p id="project-lead-text">
      No matter the task, the new POSH is up to it — and even more. See
      for yourself — all the pre-made demos, inspired by world's finest
      websites, are made with POSH. And this is only a tip of the iceberg
      of what you will get.
    </p>

    <div id="project-lead-text-line"></div>
  </div>

  <div id="projects">
    @for (column of projectColumns; track $index) {
      <div class="project-card-section-container">
        @for (i of column; track $index) {
          <a href="#" class="project-card">
            <h3>{{ projects[i].title }}</h3>
            <p>{{ projects[i].description }}</p>
            <img [src]="projects[i].image" [alt]="projects[i].alt" />
          </a>
        }
      </div>
    }
  </div>
</section>